# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# OpenFOAM Dependency files - anywhere
*.dep

# OpenFOAM lnInclude (symlink) directories - anywhere
lnInclude

# OpenFOAM directories - anywhere
linux*Clang*/
linux*Gcc*/
linux*Icc*/
solaris*Gcc*/
SunOS*Gcc*/
platforms/

# tutorials output
/tutorials/**/adiosData/
/tutorials/**/processor[0-9]*/
